@media (max-width: 1024px) {
    .container-cards{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        max-width: 600px;
    }
    .card h2{
        font-size: 3rem;
    }
    .card h3{
        font-size: 2rem;
    }
    .card button{
        font-size: 3rem;
    }
    .sub-label{
    font-size: 1.8rem;
    }
}