@media (max-width: 1024px) {
    #schedul, #contact{
        width: 85vw;
        padding: 20px;
        margin: 5% auto;
    }
    .labels, .input-labels, .submit-labels, .qnt-choice{
        height: 80px;
    }
    .qnt-choice{
        width: 150px;
    }
    .input-labels{
        margin: 5% 0;
        width: 60vw;
    }
    .choice{
        margin: 2% 0;
    }
    .labels, .input-labels, .submit-labels{
        font-size: 3rem;
    }
    #chopp_pilsen_50L, #chopp_pilsen_30L, #chopp_amber_30L{
        font-size: 3rem;
    }
    #nome{
        font-size: 3rem;
    }
    .sub-label{
        font-size: 2.5rem;
    }
}