:root{
    --main-color: #FFD71F;
    --sec-color: #f3f3f3;
    --ter-color: #d8d8d8;
    --hover-ter-color: #c2c1c1;
    --hover-light-main-color: #ffe058;
    --hover-dark-main-color: #dbb611;
    --lateral-margins: 0 20px;
    --header-height: 100px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header{
    height: var(--header-height);
    background-color: var(--main-color);
    text-align: center;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

#nav, #menu{
    display: flex;
}

#nav, #logo{
    margin: 0 150px;
}

#menu a{
    display: block;
}

.nav-link{
    font-size: 1.5rem;
    color: #000;
    padding: 0.5rem;
    margin: 20px;
}

.nav-link:hover{
    cursor: pointer;
    background-color: var(--hover-light-main-color);
    border-radius: 12px;
}

#btn-mobile{
    display: none;
}

#logo{
    width: 95px;
}

.titles{
    text-align: center;
    margin: 35px;
    font-weight: 900;
    font-size: 3rem;
}

.container-cards{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.card-chopp{
    box-shadow: 4px 4px 12px var(--hover-ter-color);
    border-radius: 12px;
    max-width: 300px;
    margin: 15px;
    text-align: center;
    align-items: center;
}

.card-chopp img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-chopp h2{
    font-size: 2rem;
    margin: 2% 5%;
}

.card-chopp h3{
    font-size: 1rem;
    margin: 2% 50px;
}

.card-chopp button{
    background-color: var(--main-color);
    width: 60%;
    padding: 5%;
    margin: 5%;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-chopp button:hover{
    background-color: var(--hover-dark-main-color);
}

#schedul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15%;
    background-color: var(--sec-color);
    border-radius: 10px;
}

form{
    margin: 2% auto;
    width: 5% auto;
}

.labels, .input-labels, .submit-labels, .qnt-choice{
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    height: 50px;
}

.labels, .qnt-choice{
    margin: 1% 0 3% 0;
}

.qnt-choice{
    width: 10vw;
}

.input-labels{
    margin: 2% 0 3% 0;
}

.input-labels, .qnt-choice{
    background-color: var(--ter-color);
    display: flex;
}

#chopp_pilsen_50L, #chopp_pilsen_30L, #chopp_amber_30L{
    font-size: 2rem;
    text-align: center;
}

#nome{
    font-size: 2rem;
    text-align: start;
}

.sub-label{
    font-size: 1.2rem;
    margin: 2% 0;
}

form input:hover{
    background-color: var(--hover-ter-color);
}

.submit-labels{
    background-color: rgb(74, 235, 141);
    padding: 10px;
}

.submit-labels:hover{
    background-color: rgb(32, 173, 91);
}

#contact{
    background-color: var(--sec-color);
    display: block;
    text-align: center;
    margin: 0 15% 5% 15%;
    border-radius: 10px;
}

.icons-contact{
    width: 50px;
    margin: 10px;
}

.icons-contact:hover{
    cursor: pointer;
}

#instagram{
    display: flex;
    gap: 1%;
    margin: 1% auto;
    width: 95vw;
    align-items: center;
    justify-content: center;
}